/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 * 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-dark.css'; */
@import "../../colors.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Ubuntu Nerd Font";
  border: none;
  font-size: 13px;
  border-radius: 0px;
  background-color: rgba(255, 215, 196, 0);
  color: @inverse_surface;
  padding: 0px;
  font-weight: bold;
}

.modules-right,
.modules-center,
.modules-left {
  margin-right: 0px;
  margin-top: 0px;
}

/* -----------------------------------------
 * Workspaces
 *------------------------------------------ */

#workspaces {
  background-color: @background;
  margin: 2px 0px 5px 0px;
  padding: 0px 1px;
  border-radius: 15px;
}

#workspaces button {
  background-color: @primary_container;
  padding: 0px 4px;
  margin: 4px 3px;
  border-radius: 60px;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @source_color;
  min-width: 26px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  color: white;
}

/* -----------------------------------------
 * Taskbar
 *------------------------------------------ */

#taskbar {
  background-color: @background;
  border-radius: 100px;
  padding: 0px 7px 0px 7px;
  margin: 7px 0px 4px 0px;
  border: 0px solid #fff;
}

#taskbar button {
  font-weight: bold;
  padding: 3px;
  border-radius: 60px;
}

/* -----------------------------------------
 * Window Controls
 *------------------------------------------ */

#window {
  border: 0px solid;
  font-size: 4px;
  background: @background;
  margin: 7px 0px 7px 0px;
  padding: 0 10px;
  border-radius: 12px;
  font-weight: normal;
  opacity: 0.8;
}

/* -----------------------------------------
 * Utilities
 *------------------------------------------ */

#clock {
  padding: 0px 10px 0px 10px;
  border-radius: 400px;
  background-color: @source_color;
  margin: 7px 0px 7px 0px;
  font-size: 12px;
  font-weight: bold;
  border: 2.3px solid #fff;
  color: white;
}

#clock {
  font-size: 13.5px;
  margin: 7px 10px 7px 0px;
}

#network {
  background-color: @background;
  font-size: 12px;
  border-radius: 500px;
  padding: 2px 15px 0px 10px;
  margin: 10px 0px 7px 5px;
  opacity: 0.8;
}

/* -----------------------------------------
 * CUSTOM MODULES
 *------------------------------------------ */

#custom-pmenu,
#custom-notification,
#custom-stats,
#custom-shotcuts {
  font-size: 15px;
  font-weight: bold;
}

#custom-appmenuicon {
  font-weight: bold;
  background-color: @source_color;
  border-radius: 40px;
  padding: 0px 10px 0px 10px;
  margin: 7px 0px 7px 10px;
  border: 2.3px solid #fff;
  opacity: 0.9;
  color: white;
}

#custom-wallpaper,
#custom-filemanager,
#custom-settings {
  background-color: @source_color;
  opacity: 1;
  padding: 0px 10px 0px 10px;
  margin: 7px 4px 7px 0px;
  border-radius: 80px;
}

#group-essentials {
  border-radius: 5px;
}

#custom-trayicon {
  padding: 5px;
}

/* ----------------------------------------
 * end of the file
 *------------------------------------------ */
