@import url("../../colors.css");

* {
  margin: 0;
  padding: 0;
  color: @foreground;
  font-family: FiraCode Nerd Font Propo;
}

window#waybar {
  background-color: transparent;
}

.modules-left {
  margin: 9px 6px;
}

.modules-center {
  margin: 6px 6px;
}

.modules-right {
  margin: 9px 6px;
}

/* Workspaces Style */

#workspaces {
  background-color: @background;
  padding: 0px 1px;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
}

#workspaces button {
  background-color: @color0;
  margin: 4px 3px;
  min-width: 18px;
  border-radius: 60px;
  font-size: 0.9em;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @color1;
  min-width: 34px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  color: white;
}

/* App Icon Style */

#custom-appicon {
  font-size: 1em;
  background-color: @background;
  padding: 0 0.3em 0px 0.3em;
  min-width: 22px;
  border-radius: 0.8em;
  border: 0.16em solid @color3;
}

/* Clock Style */

#clock {
  background-color: @background;
  border: 0.16em solid @color3;
  border-radius: 0.8em;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0 8px;
  margin: 0 6px;
}

/* Custom Icon Style */

#custom-pmenu,
#custom-notification,
#custom-separator,
#custom-trayicon,
#custom-settings,
#custom-browser,
#custom-chatgpt,
#power-profiles-daemon,
#bluetooth {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0px 2px;
}

#taskbar {
  background-color: @background;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 1em;
}

#window {
  background-color: @background;
  opacity: 0.8;
  border-radius: 1em;
  padding: 0 6px;
  margin: 0 10px;
}

#pulseaudio,
#network,
#custom-pacman,
#battery {
  background-color: @background;
  font-weight: 500;
  font-size: 0.92em;
  border-radius: 1em;
  padding: 0 0.8em;
  margin: 0 4px;
}
