foreground         #FFF6CD
background         #191614
background_opacity 1.0
cursor             #F6EAAE

active_tab_foreground     #45403E
active_tab_background     #F6EAAE
inactive_tab_foreground   #F6EAAE
inactive_tab_background   #45403E

active_border_color       #F6EAAE
inactive_border_color     #45403E
bell_border_color         #BA4F52

color0       #45403E
color8       #ACA37A
color1       #BA4F52
color9       #BA4F52
color2       #597DAB
color10      #597DAB
color3       #BE8389
color11      #BE8389
color4       #D98815
color12      #D98815
color5       #CDD4E7
color13      #CDD4E7
color6       #FEE56F
color14      #FEE56F
color7       #F6EAAE
color15      #F6EAAE

