@define-color background #191614;
@define-color foreground #FFF6CD;
@define-color cursor #94A6B0;
@define-color color0 #45403E;
@define-color color1 #BA4F52;
@define-color color2 #597DAB;
@define-color color3 #BE8389;
@define-color color4 #D98815;
@define-color color5 #CDD4E7;
@define-color color6 #FEE56F;
@define-color color7 #F6EAAE;
@define-color color8 #ACA37A;
@define-color color9 #BA4F52;
@define-color color10 #597DAB;
@define-color color11 #BE8389;
@define-color color12 #D98815;
@define-color color13 #CDD4E7;
@define-color color14 #FEE56F;
@define-color color15 #F6EAAE;
